<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login for opsadmin</title>

  <!-- Bootstrap -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap-responsive.css" rel="stylesheet">
  <!-- Custom styles for this page -->
  <link href="/static/css/login.css" rel="stylesheet"></head>
<body>
  <div class="container">

    <form class="form-signin" role="form" method="post">
      <h2 class="form-signin-heading">用户登陆</h2>
      <input type="text" class="input-block-level" placeholder="UserName" name="username">
      <input type="password" class="input-block-level" placeholder="Password" name="password">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me">Remember me</label>
        <p style='color: red;'>{{ login_error }}</p>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
    </form>

  </div>
  <!-- /container -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

</body>
</html>
