{% extends 'base.html' %}
{% block content %}
<div class="row-fluid">

  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="active">
          <a href="/ip_manage/">nginx</a>
        </li>
        <li>
          <a href="/dev_manage/">mysql</a>
        </li>
        <li>
          <a href="/add_ip/">php-fpm</a>
        </li>
        <li>
          <a href="/add_dev/">添加主机</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="span9 well">
  {% block showpage %}
    <form class="form-horizontal" role="form" method="get" action="/search_ip/">
      <div class="control-group">
        <div class="controls">
          <input type="text" class="input" name="search">
          <button type="submit" class="btn">查询</button>
          </div>
      </div>
    </form>

      <table class="table">
        <th></th>
        <th>主机</th>
        <th>系统服务</th>
        <th>服务状态</th>
        <tr>{{search_error}}</tr>
        <form class="form-horizontal" role="form" method="post">
        <!--show ip list-->
          {% if show_list %}
            {% for ip in show_list %}
            <tr>
              <td><input type="checkbox" class="checkbox" name="post_ip" value="{{ ip.ipaddr }}"></td>
              <td><a href="/mod_ip/?ip={{ ip.ipaddr }}">{{ ip.ipaddr }}</a></td>
              <td>{{ ip.hostname }}</td>
              <td>{{ ip.ostype }}</td>
              <td>{{ ip.ports }}</td>
              <td>{{ ip.application }}</td>
            </tr>
            {% endfor %}
            <button type="submit" class="btn">删除</button>
          {%endif%}

        </form>
      </table>




  {% endblock %}
  </div>

</div>
{% endblock %}
